<form [formGroup]="ScheduleReport" class="mat-dialog-container">
    <div class="formPart" *ngIf="count_step==0">
        <div id="header">
            <div>
                <h2>Schedule Reports</h2>
                <img [src]="imageUrl" alt="information png" id="infoPng">
            </div>
            <img src="assets/close.png" alt="closeSchedule" class="closePng" (click)="closeForm()">
        </div>
        <h4 id="reportHeader">Select Required Report Types</h4>
        <span *ngIf="reportCheckBox" id="checkBoxValidation">*Select a Report Type</span>
        <div id="checkedBoxlist">
            <div class="checkbox" *ngFor="let data of checkedItem">
                <input type="checkbox" [formControlName]="data.formName" value="data.vehicle"
                    (change)="onCheckedBox(data.name)" />
                <label>{{data.name}}</label>
            </div>
        </div>
        <!-- <div id="checkedBoxList">
            <div class="checkbox">
                <input type="checkbox" formControlName="fleet"/>
                <label>Fleet Wise Report</label>
            </div>
            <div>
                <input type="checkbox" formControlName="vehicle" />
                <label>Vehicle Wise Report</label>
            </div>
            <div>
                <input type="checkbox" formControlName="trip" />
                <label>Trip Wise</label>
            </div>
            <div>
                <input type="checkbox" formControlName="driving" />
                <label>Driving Scorecard Report</label>
            </div>
        </div> -->
        <div id="wholeVehicle" *ngIf="showVehicleList">
            <h4 id="vehicleHeader">Select Vehicles</h4>
            <span *ngIf="reportVehicles" id="vehicleValidation">*Select a Vehicle</span>
            <div id="mainVehicle">
                <div id="vehicleFilters">
                    <div id="placeFilter">
                        <select name="vehicles" id="selectedPlace" formControlName="branch">
                            <option *ngFor="let branch of branches" [value]="branch.value">{{ branch.label }}</option>
                        </select>
                    </div>                    
                    <div id="searchVehicle">
                        <img [src]="searchImageUrl" alt="search Image" id="searchImage">
                        <input type="text" formControlName="vehicleSearch" placeholder="Search">
                    </div>
                </div>
                <div id="checkedVehicles">
                    <span id="vehicleSelected">{{selectedVehicles.length}}/{{vehicleList.length}} selected</span>
                </div>
                <div id="vehicleData">
                    <p *ngIf="filteredVehicles.length == 0">No Vehicles Found</p>
                    <div *ngFor="let vehicle of filteredVehicles" id="singleVehicle" [ngClass]="{'selected': selectedVehicles.includes(vehicle.registration_number)}">
                        <input type="checkbox" [checked]="selectedVehicles.includes(vehicle.registration_number)"
                            (change)="onVehicleSelect(vehicle)" />
                        <div>
                            <p class="regNum">{{ vehicle.registration_number }}</p>
                            <p style="font-size: 12px;font-weight: 400;color: #747474;" class="vinLob">VIN: {{ vehicle.vin }}</p>
                            <p style="font-size: 12px;font-weight: 400;color: #747474;" class="vinLob">{{ vehicle.lob_name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="email">
            <div id="emailHeader">
                <h4>Enter Email Ids</h4>
                <button id="enterEmail" (click)="showInput()">{{ButtonValue}}</button>
            </div>
            
            <div id="addEmail" *ngIf="showEmail">
                <input type="email" formControlName="userEmail" id="inputEmail">
                <button id="addingEmail" (click)="putEmail()">Add</button>
            </div>
            <span *ngIf="reportEmail" id="emailValidation" >*Enter a email</span>
            <span *ngIf="dupEmail" id="emailValidation">{{ dupEmail }}</span>
            <div id="enteredEmails">
                <div *ngFor="let email of emailList" class="email-item">
                    <span class="emails">{{ email }} </span>
                    <button class="remove-button" id="removeEmail" (click)="removeEmail(email)">x</button>
                </div>
            </div>
        </div>
    </div>
    <div class="formPart" *ngIf="count_step==1">
        <div id="header2">
            <h2>Schedule Reports</h2>
            <div>
                <div (click)="prevStep()">
                    <img src="assets/pen.png" alt="" id="editPng">
                    <button>Edit</button>
                </div>
                <img src="assets/close.png" alt="closeSchedule" class="closePng" (click)="closeForm()">
            </div>
        </div>
        <div id="formValues">
            <div class="eachFormValue">
                <h5>Report Types</h5>
                <div class="eachValue">
                    <p *ngFor="let data of selectedCheckbox; let i = index">
                        <span *ngIf="i!=0 && i == selectedCheckbox.length-1"> and </span>
                        {{ data }} 
                        &nbsp;
                        <span *ngIf="i < selectedCheckbox.length - 1 && i!=selectedCheckbox.length-1 && i!=0">,</span>
                    </p>
                </div>
            </div>
            
            <div class="eachFormValue">
                <h5>Selected Vehicles</h5>
                <div class="eachValue">
                    <p *ngIf="selectedVehicles.length === 0">None</p>
                    <p *ngIf="selectedVehicles.length === 1">{{ selectedVehicles[0] }}</p>
                    <p *ngIf="selectedVehicles.length === 2">{{selectedVehicles[0]}} and {{selectedVehicles[1]}}</p>
                    <p *ngIf="selectedVehicles.length > 2">{{ selectedVehicles[0] }},{{ selectedVehicles[1] }} and {{ additionalCount }} others
                    </p>
                </div>
            </div>
            <div class="eachFormValue">
                <h5>Mailed to</h5>
                <div class="eachValue email-container">
                    <p *ngFor="let data of emailList; let i = index">
                        <span *ngIf="i!=0 && i == emailList.length - 1"></span>
                        {{ data }}<span *ngIf="i < emailList.length - 1">, </span>
                    </p>
                </div>
            </div>

        </div>
        <hr>
        <div id="settingTimenDate">
            <div id="wholeTime"> 
                <h5>Set Time</h5>
                <div id="timePart">
                    <div id="onlyClock">
                            <div id="inputTime">
                                <input matInput type="text" formControlName="time" class="time-input" />
                            </div>
                            <div id="icredecre">
                                <span id="increment" (click)="increment()"><img src="assets/up.png" alt="" class="upAndDown"></span>
                                <span id="decrement" (click)="decrement()"><img src="assets/down.png" alt="" class="upAndDown"></span>
                            </div>
                    </div>
                    <div class="ampm-container">
                            <div class="ampm-box" (click)="ampm = 'AM'; updateTimeInput()" [class.selected]="ampm === 'AM'">
                                AM
                            </div>
                            <div class="ampm-box" (click)="ampm = 'PM'; updateTimeInput()" [class.selected]="ampm === 'PM'">
                                PM
                            </div>
                    </div>
                </div>
            </div>
            
            <div id="calender">
                <div id="title">
                    <h5>Set Time Interval</h5>
                    <div id="Weekends">
                        <p>Skip Weekends</p>
                        <div class="mainToggle"> 
                            <div class="toggle" (click)="Toggle()">
                                <div class="circle" [ngClass]="{'active': toggleOnOff}"></div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div id="selectDate" [ngSwitch]="selectedOption + 1">
                    <p *ngIf="validationMessage" id="validationMessage">{{ validationMessage }}</p>
                    <div class="everyOption">
                        <div class="inputLabel">
                            <input type="radio" formControlName="reportInterval" name="reportInterval" id="week" (change)="onChange($event)" value="Weekly">
                            <label for="week">Weekly</label>
                        </div>
                        <div *ngSwitchCase="1">
                            <i>Select a day to send a Weekly report</i>
                            <div class="allDays">
                                <div class="allWeeks" *ngFor="let day of filteredDays">
                                    <p [ngClass]="{'selected': selectedDay === day}" (click)="selectValue(day)">
                                        {{ day }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="everyOption">
                        <div class="inputLabel">
                            <input type="radio" formControlName="reportInterval" name="reportInterval" id="twoWeek" (change)="onChange($event)"
                            value="Every 2 Weeks">
                            <label for="twoWeek">Every 2 Weeks</label>
                        </div>
                        <div *ngSwitchCase="2">
                            <i>Select a day to send a Fortnightly report</i>
                            <div class="allDays">
                                <div class="allWeeks" *ngFor="let day of filteredDays">
                                    <p [ngClass]="{'selected': selectedDay === day}" (click)="selectValue(day)">
                                        {{ day }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="everyOption">
                        <div class="inputLabel">
                            <input type="radio" formControlName="reportInterval" name="reportInterval" id="month" (change)="onChange($event)" value="Monthly">
                            <label for="month">Monthly</label>
                        </div>
                        <div *ngSwitchCase="3">
                            <i>Select a day to send a Monthly report</i>
                            <div class="allDays Calender">
                                <div class="calendar">
                                    <mat-card class="demo-inline-calendar-card">
                                        <mat-calendar [(selected)]="selected" [dateClass]="dateClass"
                                            [dateFilter]="dateFilter" class="monthlyCal">
                                            <mat-calendar-header>
                                                <div></div>
                                            </mat-calendar-header>
                                        </mat-calendar>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="everyOption">
                        <div class="inputLabel">
                            <input type="radio" formControlName="reportInterval" name="reportInterval" id="quarter" (change)="onChange($event)"
                            value="Quarterly">
                            <label for="quarter">Quarterly</label>
                        </div>
                        <div *ngSwitchCase="4" class="allDays quaterlyCalender">
                            <div class="quarterly">
                                <div *ngFor="let quarter of quarters" class="eachQuarter"
                                    [class.selectedQ]="selectedQuarter === quarter" (click)="selectQuarter(quarter)">
                                    <p style="margin-left: 40px;font-size: 14px;font-weight: 400;">{{ quarter }}</p>
                                </div>
                                <div *ngIf="selectedQuarter === 'Custom'" style="width: 100%;">
                                    <mat-card class="demo-inline-calendar-card">
                                        <mat-calendar [(selected)]="selected" [dateClass]="dateClass"
                                            [dateFilter]="dateFilter" [monthFilter]="monthFilter" class="monthlyCal"></mat-calendar>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Yearly Option -->
                    <div class="everyOption">
                        <div class="inputLabel">
                            <input type="radio" formControlName="reportInterval" name="reportInterval" id="year" (change)="onChange($event)" value="Yearly">
                            <label for="year">Yearly</label>
                        </div>
                        <div *ngSwitchCase="5" class="allDays yearlyCalender">
                            <div class="yearly">
                                <div *ngFor="let year of yearly"  class="eachYear"
                                    [class.selectedQ]="selectedYear === year" (click)="selectYear(year)">
                                    <p style="margin-left: 40px;font-size: 14px;font-weight: 400;">{{ year }}</p>
                                </div>
                                <div id="customCal" *ngIf="selectedYear === 'Custom'">
                                    <mat-card class="demo-inline-calendar-card">
                                        <mat-calendar [(selected)]="selected" [dateClass]="dateClass"
                                            [dateFilter]="dateFilter" class="monthlyCal"></mat-calendar>
                                    </mat-card>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pageControl">
        <button (click)="prevStep()" id="cancelBtn">Cancel</button>
        <button (click)="nextStep()" *ngIf="count_step==0" class="nextBtn">Next ></button>
        <button type="submit" *ngIf="count_step==1" (click)="nextStep()" [disabled]="!isFormValid" class="nextBtn">Done</button>
    </div>
</form>