<div id="main">
    <div id="header">
        <h4>Schedule Reports of {{loggedInUsername ? loggedInUsername : ''}}</h4>
        <button (click)="openForm()">Edit</button>
    </div>
    <div id="selectedMail">
        <h5>Selected reports will be sent to:</h5>
        <div id="textarea">
            <div *ngFor="let email of emailList">
                <p>{{email}}</p>
            </div>
        </div>
    </div>
    <div id="dateTime">
        <p>You have scheduled the <strong>{{userData.schedule_interval}}</strong> Report on <strong>{{userData.schedule_day}}</strong> Dated<strong>{{userData.schedule_date}}</strong>, at <strong>{{userData.schedule_time}}</strong>.</p>
    </div>
    <div id="reports">
        <div *ngFor="let report of reportList">
            <img src="assets\accept.png" alt="" style="height: 15px;">
            <p>{{report}}</p>
        </div>
    </div>
</div>
