#main {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-family: 'Open Sans';
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header h4 {
    font-size: 20px;
    font-weight: 700;
}

#header div{
    display: flex;
    align-items: center;
}
#editPng{
    height: 15px;
    cursor: pointer;    
}
button {
    background-color: white;
    border: none;
    color: #3B96F3;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
#reports {
    display: flex;
    flex-direction: row;
}
#selectedMail {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

p{
    font-size: 14px;
    font-family: 400;
    color: #000000;
}
