#mainForm{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    width: 40vw;
    gap: 30px;
    margin-top: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    padding-bottom: 50px;
    border-radius: 25px;
    position: relative;
}
@media only screen and (max-width: 600px) {
    form{
        width: 100vw;
        height: 60vh;
    }
}
.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    width:75%;
    position: relative;
}

#submit {
    width: 75%;
    padding: 10px 0;
    border: none;
    background-color: navy;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.validation {color: red; font-size: 12px; position: absolute; bottom: -16px; left: 0;}

.main {
    color: red; font-size: 12px; position: absolute;bottom: 110px;left: 88px; 
}
#submit:disabled{
    background-color: #f0f0f0;
    color: navy;
    border: 2px solid navy;
    cursor: not-allowed;
}

input {
    padding: 10px ;
    border-radius: 10px;
    border: 1px solid black;
    font-family: 'Open Sans';
}