<div id="mainForm">
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Login</h1>
        <div class="input">
            <label for="username">Username</label>
            <input type="text" name="username" formControlName="username">
            <span *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="validation">*Please Enter a Valid Username</span>
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input type="password" name="password" formControlName="password">
            <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="validation">*Please Enter a Valid Password</span>
        </div>
        <button type="submit" id="submit" [disabled]="loginForm.invalid">Login</button>
        <span *ngIf="invalidCred" class="validation main">*Incorrect Credentials</span>
    </form>
</div>